<div class="modal">
  <form class="tasks-form" #projectForm="ngForm" (ngSubmit)="submit()">
    <img class="close-button" (click)="close()" src="../../../../assets/close.png"/>
    <h1>Long Term Goals</h1>
    <div class="goal1">
      <div class="year1">1 year</div>
      <div class="goal1-desc">
        <!-- <input id="g1" style="font-size:12px" type="text"> -->
        <input [(ngModel)]="longTerm.oneYear" id="g1" style="font-size:12px" type="text">
      </div>
    </div>
    <div class="goal2">
      <div class="year5">5 year</div>
      <div class="goal2-desc">
        <!-- <input id="g2" style="font-size:12px" type="text"> -->
        <input [(ngModel)]="longTerm.fiveYear" id="g2" style="font-size:12px" type="text">
      </div>
    </div>
    <button type="submit" class="Save">Save</button>
  </form>
</div>